body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #222222;
}

.parent {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
    font-family: "Roboto", serif;
}

.parent .button {
    display: flex;
    justify-content: center;
}

.parent .cards {
    display: flex;
}

.book.detail {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.book.detail .bookItem {
    background-color: #090909a1;
    border-radius: 12px;
    font-size: 20px;
    color: #cccccc;
    display: grid;
    padding: 20px;
    gap: 8px;
}

.book.detail .bookItem:hover {
    box-shadow: -8px 8px 10px aqua;
    position: relative;
    bottom: 5px;
    left: 5px;
    transition: box-shadow 0.1s ease-in-out, bottom 0.1s ease-in-out, left 0.1s ease-in-out;
    cursor: pointer;
}

.book.detail .bookItem:not(:hover) {
    box-shadow: none;
    position: relative;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.3s ease-in-out, bottom 0.3s ease-in-out, left 0.3s ease-in-out;
}

.book.detail .bookItem:active {
    box-shadow: -8px 8px 10px yellow;
}

.hiddenForm {
    display: grid;
    grid-template: 0.25fr 6fr / minmax(420px, 2fr) 1.5fr 0.2fr;
    row-gap: 15px;
    padding: 20px;
    padding-left: 50px;
    min-width: 400px;
}

.hiddenForm form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    border-right: solid 1px #a1a1a1;
}

.hiddenForm form > div {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
}

.hiddenForm form > div > label {
    font-weight: bold;
    font-size: 15px;
    height: 18.4px;
    transition: font-size 0.3s ease-in-out;
}

.hiddenForm form > div > input {
    width: 250px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #222222;
    font-size: 15px;
}

.hiddenForm form > div > input::placeholder {
    color: #a1a1a1;
}

.hiddenForm form > div > input:focus {
    border: solid 1px aqua;
}

.hiddenForm form div .smallSize {
    font-size: 10px;
    height: 18.4px;
    transition: font-size 0.3s ease-in-out;
}

.hiddenForm form > div > input[type] {
    color: white;
    padding-left: 5px;
}

.hiddenForm form > div span {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
}

.hiddenForm form > div span:hover {
    color: aqua;
    transition: color 0.3s ease-in-out;
}

.hiddenForm form > div #spanName {
    top: 93px;
    left: 340px;
}

.hiddenForm form > div #spanAuthor {
    top: 159px;
    left: 340px;
}

.hiddenForm form > div #spanPages {
    top: 225px;
    left: 340px;
}

.hiddenForm form > div > input:required:placeholder-shown + span::before {
    content: "REQUIRED";
    opacity: 1;
    background-color: #50505090;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    transition: opacity 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.hiddenForm form > div > input:required:not(:placeholder-shown) + span::before {
    content: "REQUIRED";
    opacity: 0;
    background-color: transparent;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    transition: opacity 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.hiddenForm form > fieldset {
    width: 227px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    justify-items: center;
}

.hiddenForm form > fieldset:hover {
    border: solid 1.9px aqua;
}

label[for="bookNotRead"] {
    padding-left: 30px;
}

.hiddenForm #close {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    border-radius: 100%;
    background-color: #111111;
}

.hiddenForm #close:hover {
    cursor: pointer;
    background-color: #95959550;
}

.hiddenForm #close img {
    height: 25px;
    width: 25px;
    position: relative;
    right: -0.5px;
    top: 2px;
    filter: invert(100%);
}

.hiddenForm form {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.hiddenForm .formTitle {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 30px;
    border-right: solid 1px #a1a1a1;
}

.hiddenForm .receipt {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 30px;
    overflow: hidden;
}

.hiddenForm form .addBook {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: aqua;
    position: relative;
    top: -55px;
    left: 290px;
}

.hiddenForm form .addBook:hover {
    cursor: pointer;
    background-color: transparent;
    color: aqua;
    border: solid 1px aqua;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.hiddenForm form .addBook:not(:hover) {
    background-color: aqua;
    color: black;
    border: none;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.hiddenForm #receiptItems {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #a1a1a1;
    overflow: scroll;
}

.hiddenForm #receiptItems .bookItem {
    background-color: #222222;
    border-radius: 10px;
    font-size: 15px;
    color: #cccccc;
    padding: 10px;
    margin: 5px 20px;
    height: min-content;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
}

strong {
    color: white;
}